# Connection strings
DefaultConnection='Your PSQL Connection String'
Redis='Your Redis connection string'

# JWT Security keys
JwtIssuer=smartcity
JwtAudience=smartcity
JwtExpiry=10 # minutes
RefreshTokenExpiry=7 # days
JwtPrivateKey= # location of the private key file. One will be automatically created here if doesn't exist.

# Add the clientId and secrets for oauth providers:
AuthGoogleClientId=
AuthGoogleClientSecret=
AuthFacebookAppId=
AuthFacebookAppSecret=
AuthMicrosoftClientId=
AuthMicrosoftClientSecret=

# Security
EncryptionKey=123456 # generate using your favorite random key generator